.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px; 
  max-width: 350px;
  margin: 40px auto;
  padding: 20px;
  background-color: #eee;
  border-radius: 10px;
  border: 3px solid #333; 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); 
  margin-top: 100px;
}

.cell {
  width: 100px; 
  height: 100px; 
  background-color: #fff; 
  border: 2px solid #ccc; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  overflow: hidden; 
  color: #000; 
  position: relative; 
}

.cell:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: inherit;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.cell:hover:before {
  background-color: #f0f0f0;
  border-color: #999;
}

.cell:disabled {
  cursor: not-allowed;
  background-color: #eee;
  border-color: #c6c6c6;
}

.cell span {
  line-height: 1; 
  height: 100%; 
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit; 
  position: absolute; 
  top: 0;
  left: 0;
}

.status {
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.status p {
  font-size: 2rem; 
  margin: 15px 0; 
  color: #333; 
  opacity: 0;
  transform: scale(0.5);
  animation: popOut 1s forwards;
}

.status button {
  padding: 25px 35px; 
  font-size: 1rem; 
  font-weight: 600;
  color: #fff;
  background-color: #007bff; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin: 16px;
}

.status button:hover {
  transform: translateY(-5px);
  background-color: #0056b3; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.status button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5); 
}


@keyframes popOut {
  from {
    opacity: 0;
    transform: scale(2); 
  }
  to {
    opacity: 1;
    transform: scale(1); /* End at normal size */
  }
}

@media (max-width: 300px) {
  .board {
      grid-template-columns: repeat(3, 1fr);
      max-width: 100%;
      padding: 10px;
      margin: 20px auto;
  }

  .cell {
      width: 80px; 
      height: 80px;
      font-size: 1.5rem; 
  }

  .status p {
      font-size: 1.2rem; 
      margin: 10px 0;
  }

  .status button {
      padding: 10px 20px; 
      font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .cell {
      width: 60px; 
      height: 60px;
      font-size: 1.2rem;
  }

  .status p {
      font-size: 1rem; 
  }

  .status button {
      padding: 8px 15px; 
      font-size: 0.9rem;
  }
}


